<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Login</title>
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/css/bootstrap.min.css}'>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body class="vh-100 container d-flex justify-content-center align-items-center">

<form class="col-sm-3" method="post" th:action="@{/login}">
    <div class="form-floating mb-3">
        <input class="form-control rounded-4" id="email" name="email" placeholder="name@example.com" type="email">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control rounded-4" id="password" name="password" placeholder="Password"
               th:classappend="${param.error} != null ? 'is-invalid' : ''" type="password">
        <label for="password">Password</label>
        <div class="invalid-feedback">
            Wrong password or email.
        </div>
    </div>
    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign in</button>
    <small class="text-muted">By clicking Sign in, you agree to the terms of use.</small>
    <hr class="my-4">
    <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
    <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="submit">
        <svg class="bi me-1" height="16" width="16">
            <use xlink:href="#twitter"></use>
        </svg>
        Sign up with Twitter
    </button>
    <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="submit">
        <svg class="bi me-1" height="16" width="16">
            <use xlink:href="#facebook"></use>
        </svg>
        Sign up with Facebook
    </button>
    <button class="w-100 py-2 mb-2 btn btn-outline-warning rounded-4" type="submit">
        <svg class="bi me-1" height="16" width="16">
            <use xlink:href="#github"></use>
        </svg>
        Sign up with Google
    </button>
</form>

</body>
</html>