<!doctype html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Posts</title>
    <link href="webjars/bootstrap/css/bootstrap.min.css" rel='stylesheet'
          th:href='@{/webjars/bootstrap/css/bootstrap.min.css}'>
    <script src="webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script defer src="webjars/alpinejs/dist/cdn.min.js" th:src="@{/webjars/alpinejs/dist/cdn.min.js}"></script>
    <script src="webjars/infinite-scroll/dist/infinite-scroll.pkgd.min.js"
            th:src="@{/webjars/infinite-scroll/dist/infinite-scroll.pkgd.js}"></script>
    <script defer>
        const posts = () => ({
            items: [],
            init(element) {
                if (element == null) return
                const infScroll = new InfiniteScroll(element, {
                    path: () =>
                        `api/posts?page=${this.loadCount}`,
                    status: '.page-load-status',
                    history: false,
                    responseBody: 'json'
                });
                infScroll.on('load', body => {
                        this.items = this.items.concat(body.content)
                        if (body.last) element.data("infiniteScroll").scrollThreshold = false
                    }
                );
                infScroll.loadNextPage();
            }
        })
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm border-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">Sociely</a>
        <div class="collapse navbar-collapse">
            <input class="form-control w-50 m-auto" placeholder="Search" type="search">
            <span class="me-2 navbar-text" sec:authorize="isAuthenticated()"
                  th:text="${#authentication.principal.name} + ' ' + ${#authentication.principal.surname ?: ''}"></span>
            <a class="btn btn-outline-primary me-2" sec:authorize="isAuthenticated()" th:href="@{/logout}"
               type="submit">Logout</a>
            <a class="btn btn-outline-secondary me-2" sec:authorize="isAnonymous()" th:href="@{/signup}" type="submit">Sign
                up</a>
            <a class="btn btn-primary me-2" sec:authorize="isAnonymous()" th:href="@{/login}" type="submit">Login</a>
        </div>
    </div>
</nav>
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-10 card mb-3">
            <div class="card-body">
                <form method="post" th:object="${newPost}">
                    <div class="mb-3">
                        <label class="form-label" for="postText">Text: </label>
                        <textarea class="form-control" id="postText" th:field="*{text}"></textarea>
                    </div>
                    <button class="btn btn-primary mb-3" sec:authorize="isAuthenticated()" type="submit">Publish
                    </button>
                    <a class="btn btn-primary mb-3" sec:authorize="isAnonymous()" th:href="@{/login}">Login to publish
                        post</a>
                </form>
            </div>
        </div>
    </div>
    <div x-data="posts()" x-init="init($el)">
        <template x-for="item in items">
            <div class="row justify-content-center">
                <article class="card mb-3 col-md-6 col-10">
                    <div class="card-body">
                        <h5 class="card-title" x-text="`${item.user.name} ${item.user.surname ?? ''}`"></h5>
                        <h6 class="card-subtitle" x-text="new Date(item.creationDate).toLocaleString()"></h6>
                        <p class="card-text" x-text="item.text"></p>
                    </div>
                </article>
            </div>
        </template>
        <div class="text-center d-flex m-5 justify-content-center page-load-status">
            <div class="spinner-border text-primary infinite-scroll-request" role="status"></div>
        </div>
    </div>
</div>
</body>
</html>