<!doctype html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Posts</title>
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/css/bootstrap.min.css}'>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script defer th:src="@{/webjars/alpinejs/dist/cdn.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm border-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">Sociely</a>
        <div class="collapse navbar-collapse">
            <input class="form-control w-50 m-auto" placeholder="Search" type="search">
            <span class="me-2 navbar-text" sec:authorize="isAuthenticated()"
                  th:text="${#authentication.principal.name} + ' ' + ${#authentication.principal.surname ?: ''}"></span>
            <a class="btn btn-outline-primary me-2" sec:authorize="isAuthenticated()" th:href="@{/logout}"
               type="submit">Logout</a>
            <a class="btn btn-outline-secondary me-2" sec:authorize="isAnonymous()" th:href="@{/signup}" type="submit">Sign
                up</a>
            <a class="btn btn-primary me-2" sec:authorize="isAnonymous()" th:href="@{/login}" type="submit">Login</a>
        </div>
    </div>
</nav>
<div class="container pt-5">
    <div class="row justify-content-center" th:if="${posts.first}">
        <div class="col-md-6 col-10 card mb-3">
            <div class="card-body">
                <form method="post" th:object="${newPost}">
                    <div class="mb-3">
                        <label class="form-label" for="postText">Text: </label>
                        <textarea class="form-control" id="postText" th:field="*{text}"></textarea>
                    </div>
                    <button class="btn btn-primary mb-3" sec:authorize="isAuthenticated()" type="submit">Publish
                    </button>
                    <a class="btn btn-primary mb-3" sec:authorize="isAnonymous()" th:href="@{/login}">Login to publish
                        post</a>
                </form>
            </div>
        </div>
    </div>
    <!--TODO infinite scroll-->
    <div class="row justify-content-center" th:each="post : ${posts.content}">
        <div class="card mb-3 col-md-6 col-10">
            <div class="card-body">
                <h5 class="card-title"
                    th:text="${post.user.name} + ' ' + ${post.user.surname ?: ''}"></h5>
                <h6 class="card-subtitle"
                    th:text="${#temporals.format(post.creationDate.withZoneSameInstant(timezone.toZoneId()), 'SHORT')}"></h6>
                <p class="card-text" th:text="${post.text}"></p>
            </div>
        </div>
    </div>
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" th:href="@{/(page=${posts.previousPageable().getPageNumber()})}"
                                 th:if="${posts.hasPrevious()}">&laquo;</a></li>
        <li class="page-item"><a class="page-link" href="#" th:text="${posts.number}">2</a></li>
        <li class="page-item"><a class="page-link" th:href="@{/(page=${posts.nextPageable().getPageNumber()})}"
                                 th:if="${posts.hasNext()}">&raquo;</a></li>
    </ul>
    <div class="modal fade" id="login-modal" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form method="post" th:action="@{/login}">
                    <div class="modal-header">
                        <h5 class="modal-title">Log in</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-2">
                            <input class="form-control" id="email" name="email" placeholder="E-mail" type="email">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="password" name="password" placeholder="Password"
                                   type="password">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>