<!doctype html>
<html lang="pl" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org" xmlns:x-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Posts - Sociely</title>
    <link href="webjars/bootstrap/css/bootstrap.min.css" rel='stylesheet'
          th:href='@{/webjars/bootstrap/css/bootstrap.min.css}'>
    <script src="webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script defer src="webjars/alpinejs/dist/cdn.min.js" th:src="@{/webjars/alpinejs/dist/cdn.min.js}"></script>
    <script src="webjars/infinite-scroll/dist/infinite-scroll.pkgd.min.js"
            th:src="@{/webjars/infinite-scroll/dist/infinite-scroll.pkgd.js}"></script>
    <script th:inline="javascript" th:src="@{/scripts/infinityScroll.js}"></script>
    <script defer th:inline="javascript">
        const posts = infinityScroll("[(@{/api/posts})]")
    </script>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-10 card mb-3">
            <div class="card-body">
                <form method="post" th:object="${newPost}">
                    <div class="mb-3">
                        <label class="form-label" for="postText">Text: </label>
                        <textarea class="form-control" id="postText" th:field="*{text}"></textarea>
                    </div>
                    <button class="btn btn-primary mb-3" sec:authorize="isAuthenticated()" type="submit">Publish
                    </button>
                    <a class="btn btn-primary mb-3" sec:authorize="isAnonymous()" th:href="@{/login}">Login to publish
                        post</a>
                </form>
            </div>
        </div>
    </div>
    <div x-data="posts" x-init="init($el)">
        <template x-for="post in items">
            <div class="row justify-content-center">
                <article class="card mb-3 col-md-6 col-10">
                    <div class="card-body" x-data="post">
                        <div class="d-flex align-items-center mb-2">
                            <img class="rounded-circle bg-dark" height="40" width="40"/>
                            <div class="d-flex flex-column ps-2">
                                <span class="fs-5" x-text="`${user.name} ${user.surname ?? ''}`"></span>
                                <a class="fs-6 text-muted" id="post-date" x-bind:href="id"
                                   x-text="new Date(creationDate + 'Z').toLocaleString()"></a>
                            </div>
                        </div>
                        <p class="card-text" x-text="text"></p>
                    </div>
                    <hr class="border-top border-3 border-dark opacity-75 mb-1" x-show="post.comments.length"/>
                    <ul class="list-group list-group-flush border-top-0 border-bottom-0">
                        <li class="list-group-item d-flex gap-2 align-items-center" sec:authorize="isAnonymous()">
                            <input class="form-control" readonly required type="text" value="Login to comment"/>
                            <a class="btn btn-primary" th:href="@{/login}">Login</a>
                        </li>
                        <li class="list-group-item d-flex gap-2 align-items-center" sec:authorize="isAuthenticated()">
                            <a class="btn btn-primary w-100" x-bind:href="post.id">Add comment</a>
                        </li>
                        <template x-for="comment in post.comments.slice(0, 3)">
                            <li class="list-group-item d-flex flex-column">
                                <div class="d-flex align-items-center mb-2">
                                    <img class="rounded-circle bg-dark" height="40" width="40"/>
                                    <div class="d-flex flex-column ps-2">
                                        <span class="fs-5"
                                              x-text="`${comment.user.name} ${comment.user.surname ?? ''}`"></span>
                                        <span class="fs-6 text-muted"
                                              x-text="new Date(comment.creationDate + 'Z').toLocaleString()"></span>
                                    </div>
                                </div>
                                <span class="text-wrap" x-text="comment.text"></span>
                            </li>
                        </template>
                    </ul>
                </article>
            </div>
        </template>
        <div class="text-center d-flex m-5 justify-content-center page-load-status">
            <div class="spinner-border text-primary infinite-scroll-request" role="status"></div>
        </div>
    </div>
</div>
</body>
</html>